
node_modules/.bin/browserslist
node_modules/.bin/browserslist.cmd
node_modules/.bin/browserslist.ps1
node_modules/.bin/create-jest
node_modules/.bin/create-jest.cmd
node_modules/.bin/create-jest.ps1
node_modules/.bin/esparse
node_modules/.bin/esparse.cmd
